.over-element {
  @apply absolute border-2 border-dashed border-secondary pointer-events-none;
  z-index: 999999;
}

.checked-element {
  @apply absolute border-2 border-primary pointer-events-none;
  z-index: 999999;
}

.drag-over_element {
  @apply absolute border-b-2 border-primary pointer-events-none bg-info bg-opacity-20;
  z-index: 999999;
}

span,
label {
  display: inline-block;
}
